<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>大野信二</title>
        <meta name="description" content="先生について">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <header class="header">
        </header>
        <main class="main"></main>
        <body>
            <h1>大野信二</h1>
            <p><strong>出身地：</strong>秋田県</p>
            <p><strong>趣味：</strong>麻雀、盆栽</p>
            <p><strong>キャンパス：</strong>ナゴヤドーム前キャンパス</p>
            <p><strong>学部：</strong>都市情報学部</p>
            <p><strong>専門分野：</strong>財政学</p>
            <p><strong>野球チーム：</strong>広島東洋カープ（栗林選手を特に応援しています。）</p>
            <p><strong>好きな動物：</strong>犬（家ではコーギーちゃんを飼っています。名前はコロです。）</p>
            <p><strong>好きな音楽：</strong>演歌（北島三郎をよく聞いています。）</p>
            <h2>コメント欄</h2>
      <form
        method="POST"
        action="{{url_for('comment_contents',professor_id=professor.professor_id)}}"
      >
        <label for="user_id">学籍番号</label>
        <input type="text" id="user_id" name="user_id" required /><br />

        <label for="professor_number">教授ID(10と入力してください)</label>
        <input
          type="text"
          id="professor_number"
          name="professor_number"
          required
        /><br />

            <label for="comment">コメント:</label>
        <textarea
          id="comment"
          name="comment"
          rows="5"
          cols="50"
          required
        ></textarea
        ><br />

        <button type="submit">投稿する</button>
      </form>
      <h3>過去のコメント</h3>
      <ul>
        {% for review in reviews %}
        <li>{{review.user_id}}:{{review.comment}}</li>
        {% endfor%}
      </ul>
        <footer class="footer"></footer>
    </body>
</html>
