<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>山谷達先生について</title>
        <meta name="description" content="先生の情報">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <header class="header">
            <div class="header-inner">
                <a class="header-logo" href="index.html">
                    <img src="images/common/logo.png" alt="ロゴ">
                </a>
            </div>
        </header>
        <main class="main">
            <body>
                <h1>山谷達</h1>
                <h2>基本情報</h2>
                <p><strong>出身:</strong>愛知県</p>
                <p><strong>趣味:</strong>数学と競馬</p>
                <p><strong>キャンパス:</strong>ドーム前</p>
                <p><strong>学部:</strong>都市情報</p>
                <p><strong>野球チーム:</strong>ドラゴンズ</p>
                <p><strong>専門分野:</strong>応用数学、数値計算</p>
                <p><strong>動物:</strong>犬(ゴールデンレトリーバーを飼うか迷い中)</p>
                <p><strong>音楽:</strong>ロック(King Gnu)<br>お気に入りの曲: 白日</p>
            </body>
        </main>
        <footer class="footer"></footer>
    </body>
</html>
