<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>鋤柄美紀</title>
        <meta name="description" content="鋤柄美紀先生について">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <header class="header">
            <div class="header-inner">
                <a class="header-logo" href="index.html">
                    <img src="images/common/logo.png" alt="ロゴ">
                </a>
            </div>
        </header>
        <main class="main"></main>
        <body>
            <h1>鋤柄美紀</h1>
            <p><strong>出身地：</strong>広島県廿日市市</p>
            <p><strong>趣味：</strong>野球観戦、コーヒー作り</p>
            <p><strong>キャンパス：</strong>ナゴヤドーム前</p>
            <p><strong>学部：</strong>都市情報</p>
            <p><strong>専門分野：</strong>応用数学</p>
            <p><strong>野球チーム：</strong>広島東洋カープ⚾</p>
            <p><strong>好きな動物：</strong>猫</p>
            <p><strong>好きな音楽：</strong>Mr.Children</p>
        </body>
        <footer class="footer"></footer>
    </body>
</html>
