<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>青林広高</title>
        <meta name="description" content="青林広高先生について">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <header class="header">
            <div class="header-inner">
                <a class="header-logo" href="index.html">
                    <img src="images/common/logo.png" alt="ロゴ">
                </a>
            </div>
        </header>
        <main class="main"></main>
        <body>
            <h1>青林広高</h1>
            <p><strong>出身地：</strong>秋田県</p>
            <p><strong>趣味：</strong>麻雀、盆栽</p>
            <p><strong>キャンパス：</strong>ナゴヤドーム前キャンパス</p>
            <p><strong>学部：</strong>都市情報学部</p>
            <p><strong>専門分野：</strong>財政学</p>
            <p><strong>野球チーム：</strong>広島東洋カープ（栗林選手を特に応援しています。）</p>
            <p><strong>好きな動物：</strong>犬（家ではコーギーちゃんを飼っています。名前はコロです。）</p>
            <p><strong>好きな音楽：</strong>演歌（北島三郎をよく聞いています。）</p>
        <footer class="footer"></footer>
    </body>
</html>
